<%
// load header options and contacts from content
const header = _.cms('header') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''

// social networks handled by contacts
const networks = [
  'facebook',
  'youtube',
  'instagram',
  'twitter',
  'pinterest',
  'linkedin',
  'tiktok'
]

// marketing stripe custom styles
let marketingStripeStyle = ''
;['background', 'color'].forEach(prop => {
  if (header.marketing_stripe[prop]) {
    marketingStripeStyle += `${prop}:${header.marketing_stripe[prop]};`
  }
})

// list featured categories
let categories = []
let isCategoriesNavFull
if (header.categories_list) {
  if (header.categories_list.featured.length) {
    // selected categories/collections/brands
    categories = header.categories_list.featured.map(pathAndName => {
      const [path, name] = pathAndName.split('?')
      return { slug: path.slice(1), name }
    })
  }
  if (header.categories_list.random) {
    // add up to `random` main categories
    const mainCategories = _.categories.filter(({ parent }) => !parent || !parent.slug)
    for (let i = 0; i < header.categories_list.random && i < mainCategories.length; i++) {
      if (!categories.find(({ slug }) => mainCategories[i].slug === slug)) {
        categories.push(mainCategories[i])
      }
    }
  }
  isCategoriesNavFull = header.categories_list.full_width
}
const hasMegamenu = header.desktop_megamenu
const isAlphabeticalOrderSubmenu = header.alphabetical_order_submenu
const fullWidthSubmenu = header.full_width_submenu
const isCentralizedLogo = header.centralized_logo
const hasAllDepartments = header.menu_all_departments
%>

<div id="overlay" class="fade"></div>

<!-- <div class="top-bar">
  <% if (header.marketing_stripe) { %>
    <% if (header.marketing_stripe.text) { %>
      <% if (header.marketing_stripe.link) { %>
        <a
          class="top-bar__countdown"
          style="<%= marketingStripeStyle %>"
          href="<%= header.marketing_stripe.link %>"
        >
          <%= header.marketing_stripe.text %>
        </a>
      <% } else { %>
        <div class="top-bar__countdown" style="<%= marketingStripeStyle %>">
          <%= header.marketing_stripe.text %>
        </div>
      <% } %>
    <% } %>
  <% } %>

<!-- custom top bar
  -->
<div class="top-bar__nav d-none d-md-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex">
        <nav class="top-bar__contacts-container">
          <a href="https://www.conexaooffice.com.br/" target="_blank" rel="noopener">                  
            <span>Veja também nossa linha de escritório</span>
          </a>  
          <a href="https://www.conexaooffice.com.br/" target="_blank" rel="noopener">
            <img width="80" style="    vertical-align: middle;" src="https://www.conexaooffice.com.br/img/uploads/logooffice.png">
          </a>
        </nav>
        
        
      </div>
        <div class="col-auto">
          <a href="/pages/venda-corporativa" target="_blank" rel="noopener">
            <img src="/img/uploads/vendacorporativa.svg" alt="">
          </a>
          <a href="/pages/venda-corporativa" target="_blank" rel="noopener">   
            <span>Venda corporativa </span>
          </a>
          <a href="/pages/nossaslojas" target="_blank" rel="noopener">
            <img src="/img/uploads/nossaslojas.svg" alt="">
          </a>
          <a href="/pages/nossaslojas" target="_blank" rel="noopener">   
            <span>Nossas lojas</span>
          </a>
        </div>
    </div>
    <hr style="background-color:#e26d03">
  </div>
</div> 



<header class="header">
  <div class="content-center topo">
    <div class="left-block">
      <div class="content-btn-menu">
        <button class="btn header__toggler" type="button"  aria-label="Toggle side navigation">
          <i class="header__toggler-icon i-bars"></i>
          <% if (!categories.length) { %>
          <span class="d-none d-lg-inline">
            Menu
          </span>
          <% } %>
        </button>
      </div>
      <div class="content-search">
        <form class="header__search mt-2 mt-md-3 mt-lg-0" id="search-form" action="/search" method="get">
          <input type="search" name="term" placeholder="O que você procura?"
            aria-label="<%= _.dictionary('searchProducts') %>" class="header__search-input form-control"
            id="search-input">
          <button type="submit" class="header__search-btn" aria-label="<%= _.dictionary('searchProducts') %>">
            <i class="">
              <svg xmlns="http://www.w3.org/2000/svg" width="21.139" height="21.141" viewBox="0 0 21.139 21.141">
                <path id="Lupa_topo" d="M58.271,16.6A9,9,0,0,1,46.412,3.086a8.99,8.99,0,0,1,13.3,12.031c.112.121.227.254.35.378q2.17,2.173,4.341,4.345a1.054,1.054,0,0,1,.335,1.119,1.028,1.028,0,0,1-.838.748,1.131,1.131,0,0,1-1.053-.418q-2.117-2.122-4.235-4.241a4.356,4.356,0,0,1-.342-.446m-5.633-.18a6.854,6.854,0,1,0-6.861-6.847,6.828,6.828,0,0,0,6.861,6.847" transform="translate(-43.65 -0.587)" fill="#e26d03"/>
              </svg>
            </i>
          </button>
          <div id="instant-search">
            <!--
                `InstantSearch` should be open on input focus:
                https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/InstantSearch.html
              -->
          </div>
        </form>
      </div>
      <a href="https://web.whatsapp.com/send?phone=+551132940706&text=Ol%C3%A1,%20Tudo%20bem?%20Tendo%20D%C3%BAvidas,%20%C3%A9%20s%C3%B3%20chamar%20aqui!%20:)" target="_blank" id="suport-button" class="btn btn-lg">
        <svg xmlns="http://www.w3.org/2000/svg" id="icone_atendimento" width="19" height="17.075" viewBox="0 0 19 17.075">
          <path id="atendimento" d="M15.7,517.191c-.627-.941-1.244-1.8-1.792-2.709a2.072,2.072,0,0,0-2.031-1.079c-.951.038-1.9.014-2.856.007a2.75,2.75,0,0,1-2.82-2.842q0-3.8,0-7.6a2.756,2.756,0,0,1,2.855-2.848q6.64,0,13.28,0a2.757,2.757,0,0,1,2.863,2.877q0,3.783,0,7.565a2.751,2.751,0,0,1-2.849,2.85c-.989,0-1.979.018-2.968,0a1.934,1.934,0,0,0-1.82.98c-.584.929-1.212,1.83-1.863,2.806m0-2.419c.346-.516.664-.973.965-1.44a2.656,2.656,0,0,1,2.376-1.273c.966,0,1.933,0,2.9,0a1.549,1.549,0,0,0,1.656-1.658q0-3.544,0-7.087a1.559,1.559,0,0,0-1.679-1.674q-6.216,0-12.433,0A1.56,1.56,0,0,0,7.8,503.313q0,3.544,0,7.087a1.549,1.549,0,0,0,1.656,1.657c.978.005,1.956,0,2.934,0a2.639,2.639,0,0,1,2.323,1.242c.312.474.63.944.982,1.47" transform="translate(-6.2 -500.116)" fill="#e26d03"/>
          <path id="Caminho_7" data-name="Caminho 7" d="M503.251,190.823a.951.951,0,0,1-.021-1.9.951.951,0,1,1,.021,1.9" transform="translate(-489.307 -184.723)" fill="#e26d03"/>
          <path id="Caminho_8" data-name="Caminho 8" d="M383.62,190.823a.951.951,0,0,1-.021-1.9.951.951,0,1,1,.021,1.9" transform="translate(-378.548 -184.723)" fill="#e26d03"/>
          <path id="Caminho_9" data-name="Caminho 9" d="M580.427-233.316A3.9,3.9,0,0,0,583-232.071a5.3,5.3,0,0,0,3.029-1.245" transform="translate(-573.73 241.854)" fill="none" stroke="#e26d03" stroke-linecap="round" stroke-width="1"/>
        </svg>
      </a>
    </div>
    <div class="center-block">
      <div class="main-logos">
        <a href="/" class="main-logo">
          <%- await include('@/layout/inc/logo', { _ }) %>
        </a>
        <a href="/" class="mini-logo">
          <img src="./img/mini-logo-white.svg" alt="">
        </a>

      </div>
    </div>
    <div class="right-block">
      <div class="header__buttons" role="group" aria-label="<%= _.dictionary('myAccount') %>">
        <button class="d-lg-none btn btn-lg" id="mobile-search-btn" type="button" data-toggle="collapse"
          data-target="#search-bar" aria-expanded="true" aria-controls="search-bar" aria-controls="search-bar"
          title="<%= _.dictionary('searchProducts') %>">
          <i class="i-search"></i>
        </button>        
        <a href="https://web.whatsapp.com/send?phone=+551132940706&text=Ol%C3%A1,%20Tudo%20bem?%20Tendo%20D%C3%BAvidas,%20%C3%A9%20s%C3%B3%20chamar%20aqui!%20:)" target="_blank" id="suport-button" class="btn btn-lg">
          <svg xmlns="http://www.w3.org/2000/svg" id="icone_atendimento" width="19" height="17.075" viewBox="0 0 19 17.075">
            <path id="atendimento" d="M15.7,517.191c-.627-.941-1.244-1.8-1.792-2.709a2.072,2.072,0,0,0-2.031-1.079c-.951.038-1.9.014-2.856.007a2.75,2.75,0,0,1-2.82-2.842q0-3.8,0-7.6a2.756,2.756,0,0,1,2.855-2.848q6.64,0,13.28,0a2.757,2.757,0,0,1,2.863,2.877q0,3.783,0,7.565a2.751,2.751,0,0,1-2.849,2.85c-.989,0-1.979.018-2.968,0a1.934,1.934,0,0,0-1.82.98c-.584.929-1.212,1.83-1.863,2.806m0-2.419c.346-.516.664-.973.965-1.44a2.656,2.656,0,0,1,2.376-1.273c.966,0,1.933,0,2.9,0a1.549,1.549,0,0,0,1.656-1.658q0-3.544,0-7.087a1.559,1.559,0,0,0-1.679-1.674q-6.216,0-12.433,0A1.56,1.56,0,0,0,7.8,503.313q0,3.544,0,7.087a1.549,1.549,0,0,0,1.656,1.657c.978.005,1.956,0,2.934,0a2.639,2.639,0,0,1,2.323,1.242c.312.474.63.944.982,1.47" transform="translate(-6.2 -500.116)" fill="#e26d03"/>
            <path id="Caminho_7" data-name="Caminho 7" d="M503.251,190.823a.951.951,0,0,1-.021-1.9.951.951,0,1,1,.021,1.9" transform="translate(-489.307 -184.723)" fill="#e26d03"/>
            <path id="Caminho_8" data-name="Caminho 8" d="M383.62,190.823a.951.951,0,0,1-.021-1.9.951.951,0,1,1,.021,1.9" transform="translate(-378.548 -184.723)" fill="#e26d03"/>
            <path id="Caminho_9" data-name="Caminho 9" d="M580.427-233.316A3.9,3.9,0,0,0,583-232.071a5.3,5.3,0,0,0,3.029-1.245" transform="translate(-573.73 241.854)" fill="none" stroke="#e26d03" stroke-linecap="round" stroke-width="1"/>
          </svg>
          Atendimento
        </a>
        <a id="user-button" class="btn btn-lg" role="button" href="/app/#/account/"
          title="<%= _.dictionary('myAccount') %>">
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18.905" viewBox="0 0 19 18.905">
            <path id="user_login"
              d="M1.487,223.825H0a9.615,9.615,0,0,1,6.307-8.94,5.56,5.56,0,0,1-.427-8.619,5.488,5.488,0,1,1,6.787,8.609A9.626,9.626,0,0,1,19,223.815H17.5a7.959,7.959,0,0,0-3.039-6.211,7.7,7.7,0,0,0-5.393-1.735,8.049,8.049,0,0,0-7.583,7.956m8.028-17.433a3.992,3.992,0,1,0,3.977,4.017,4.01,4.01,0,0,0-3.977-4.017"
              transform="translate(0 -204.92)" fill="#e26d03" />
          </svg>
        </a>
        <a href="/app/#/account/favorites" id="favorite-button">
          <div class="icon-full">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
              <g id="Favoritos" fill="none">
                <path d="M10.061,2.558a1,1,0,0,1,1.878,0l1.75,4.768a1,1,0,0,0,.882.654l4.944.282a1,1,0,0,1,.593,1.759l-3.919,3.349a1,1,0,0,0-.32,1.006l1.283,5.072a1,1,0,0,1-1.532,1.072l-4.058-2.76a1,1,0,0,0-1.125,0L6.38,20.519a1,1,0,0,1-1.532-1.072l1.283-5.072a1,1,0,0,0-.32-1.006L1.892,10.02a1,1,0,0,1,.593-1.759L7.429,7.98a1,1,0,0,0,.882-.654Z" stroke="none"/>
                <path d="M 10.99999809265137 4.353689193725586 L 9.71941089630127 7.842998504638672 C 9.375801086425781 8.779237747192383 8.510391235351562 9.420858383178711 7.514671325683594 9.477598190307617 L 3.812938690185547 9.688474655151367 L 6.785760879516602 12.22885799407959 C 7.513820648193359 12.85100841522217 7.820171356201172 13.81424808502197 7.585261344909668 14.74270820617676 L 6.625032424926758 18.53751564025879 L 9.593900680541992 16.51812744140625 C 10.01022052764893 16.23491859436035 10.49645137786865 16.08521842956543 11.00000095367432 16.08521842956543 C 11.50353050231934 16.08521842956543 11.98974132537842 16.23490905761719 12.40605068206787 16.51808929443359 L 15.37495994567871 18.53750610351562 L 14.41474151611328 14.74270820617676 C 14.17981147766113 13.8142786026001 14.48616027832031 12.85102844238281 15.21424102783203 12.22885799407959 L 18.18705368041992 9.688474655151367 L 14.48531150817871 9.477598190307617 C 13.48959064483643 9.420858383178711 12.62418079376221 8.779228210449219 12.28058052062988 7.842978477478027 L 10.99999809265137 4.353689193725586 M 11 1.9024658203125 C 11.38920116424561 1.9024658203125 11.77840137481689 2.120952606201172 11.93877124786377 2.557928085327148 L 13.68874073028564 7.326178550720215 C 13.82609081268311 7.700428009033203 14.17262077331543 7.957347869873047 14.57064056396484 7.98002815246582 L 19.51491165161133 8.261688232421875 C 20.41470146179199 8.31293773651123 20.79285049438477 9.434807777404785 20.10769081115723 10.02029800415039 L 16.18871116638184 13.36920833587646 C 15.89956092834473 13.61629772186279 15.77561092376709 14.006028175354 15.86891078948975 14.37474822998047 L 17.1522102355957 19.44636917114258 C 17.37789154052734 20.3382682800293 16.38106155395508 21.03595733642578 15.62035083770752 20.51852798461914 L 11.56242084503174 17.75836753845215 C 11.22301197052002 17.52749824523926 10.77698993682861 17.52749824523926 10.43758106231689 17.75836753845215 L 6.379651069641113 20.51852798461914 C 5.61894416809082 21.03595542907715 4.622100830078125 20.3382682800293 4.847780227661133 19.44636917114258 L 6.131091117858887 14.37474822998047 C 6.224380493164062 14.006028175354 6.100440979003906 13.61629772186279 5.811290740966797 13.36920833587646 L 1.892311096191406 10.02029800415039 C 1.207151412963867 9.434807777404785 1.585300445556641 8.312948226928711 2.485080718994141 8.261688232421875 L 7.429361343383789 7.98002815246582 C 7.827370643615723 7.957347869873047 8.173900604248047 7.700438499450684 8.311261177062988 7.326178550720215 L 10.0612211227417 2.557928085327148 C 10.22159576416016 2.120952606201172 10.61079883575439 1.9024658203125 11 1.9024658203125 Z" stroke="none" fill="#e26d03"/>
              </g>
            </svg>
          </div>
          <div class="icon-mini">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
              <g id="Polígono_30" data-name="Polígono 30" fill="none">
                <path d="M10.061,2.558a1,1,0,0,1,1.878,0l1.75,4.768a1,1,0,0,0,.882.654l4.944.282a1,1,0,0,1,.593,1.759l-3.919,3.349a1,1,0,0,0-.32,1.006l1.283,5.072a1,1,0,0,1-1.532,1.072l-4.058-2.76a1,1,0,0,0-1.125,0L6.38,20.519a1,1,0,0,1-1.532-1.072l1.283-5.072a1,1,0,0,0-.32-1.006L1.892,10.02a1,1,0,0,1,.593-1.759L7.429,7.98a1,1,0,0,0,.882-.654Z" stroke="none"/>
                <path d="M 10.99999809265137 4.353689193725586 L 9.71941089630127 7.842998504638672 C 9.375801086425781 8.779237747192383 8.510391235351562 9.420858383178711 7.514671325683594 9.477598190307617 L 3.812938690185547 9.688474655151367 L 6.785760879516602 12.22885799407959 C 7.513820648193359 12.85100841522217 7.820171356201172 13.81424808502197 7.585261344909668 14.74270820617676 L 6.625032424926758 18.53751564025879 L 9.593900680541992 16.51812744140625 C 10.01022052764893 16.23491859436035 10.49645137786865 16.08521842956543 11.00000095367432 16.08521842956543 C 11.50353050231934 16.08521842956543 11.98974132537842 16.23490905761719 12.40605068206787 16.51808929443359 L 15.37495994567871 18.53750610351562 L 14.41474151611328 14.74270820617676 C 14.17981147766113 13.8142786026001 14.48616027832031 12.85102844238281 15.21424102783203 12.22885799407959 L 18.18705368041992 9.688474655151367 L 14.48531150817871 9.477598190307617 C 13.48959064483643 9.420858383178711 12.62418079376221 8.779228210449219 12.28058052062988 7.842978477478027 L 10.99999809265137 4.353689193725586 M 11 1.9024658203125 C 11.38920116424561 1.9024658203125 11.77840137481689 2.120952606201172 11.93877124786377 2.557928085327148 L 13.68874073028564 7.326178550720215 C 13.82609081268311 7.700428009033203 14.17262077331543 7.957347869873047 14.57064056396484 7.98002815246582 L 19.51491165161133 8.261688232421875 C 20.41470146179199 8.31293773651123 20.79285049438477 9.434807777404785 20.10769081115723 10.02029800415039 L 16.18871116638184 13.36920833587646 C 15.89956092834473 13.61629772186279 15.77561092376709 14.006028175354 15.86891078948975 14.37474822998047 L 17.1522102355957 19.44636917114258 C 17.37789154052734 20.3382682800293 16.38106155395508 21.03595733642578 15.62035083770752 20.51852798461914 L 11.56242084503174 17.75836753845215 C 11.22301197052002 17.52749824523926 10.77698993682861 17.52749824523926 10.43758106231689 17.75836753845215 L 6.379651069641113 20.51852798461914 C 5.61894416809082 21.03595542907715 4.622100830078125 20.3382682800293 4.847780227661133 19.44636917114258 L 6.131091117858887 14.37474822998047 C 6.224380493164062 14.006028175354 6.100440979003906 13.61629772186279 5.811290740966797 13.36920833587646 L 1.892311096191406 10.02029800415039 C 1.207151412963867 9.434807777404785 1.585300445556641 8.312948226928711 2.485080718994141 8.261688232421875 L 7.429361343383789 7.98002815246582 C 7.827370643615723 7.957347869873047 8.173900604248047 7.700438499450684 8.311261177062988 7.326178550720215 L 10.0612211227417 2.557928085327148 C 10.22159576416016 2.120952606201172 10.61079883575439 1.9024658203125 11 1.9024658203125 Z" stroke="none" fill="#fff"/>
              </g>
            </svg>
          </div>
        </a>
        <a id="cart-button" class="btn btn-lg" role="button" href="/app/#/cart" title="<%= _.dictionary('openCart') %>">
          <svg xmlns="http://www.w3.org/2000/svg" width="22.531" height="18.905" viewBox="0 0 22.531 18.905">
            <g id="carrinho" transform="translate(0 0)">
              <path id="Caminho_4" data-name="Caminho 4"
                d="M313.046,15h-5.859c-.729,0-.954-.192-1.165-1.017-.98-3.822-1.963-7.643-2.926-11.471-.106-.422-.259-.567-.633-.55-.748.033-1.5.018-2.246,0a.838.838,0,0,1-.8-.743.954.954,0,0,1,.348-1.027A.956.956,0,0,1,300.3.013q1.586-.024,3.172,0c.519.006.779.251.932.826.135.507.277,1.012.381,1.528.073.363.215.481.541.478,2.041-.019,4.082-.009,6.123-.009h9.383c.891,0,1.22.472,1.027,1.5q-.915,4.842-1.84,9.682c-.148.776-.383.985-1.073.985q-2.951,0-5.9,0m-5.515-1.98H318.5l1.556-8.2H305.429l2.1,8.2"
                transform="translate(-299.384 0)" fill="#e26d03" />
              <path id="Caminho_5" data-name="Caminho 5"
                d="M503.452,191.221a1.15,1.15,0,0,1-.026-2.3,1.15,1.15,0,1,1,.026,2.3"
                transform="translate(-484.498 -172.317)" fill="#e26d03" />
              <path id="Caminho_6" data-name="Caminho 6"
                d="M383.821,191.221a1.15,1.15,0,0,1-.026-2.3,1.15,1.15,0,1,1,.026,2.3"
                transform="translate(-375.338 -172.317)" fill="#e26d03" />
            </g>
          </svg>
          <span id="cart-count" class="badge badge-primary"></span>
        </a>
      </div>
      <div id="login-modal">
        <!--
          `LoginModal` should be rendered here:
          https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/LoginModal.html
        -->
      </div>
      <div id="cart-quickview">
        <!--
          `CartQuickview` should be rendered here:
          https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/CartQuickview.html
        -->
      </div>
    </div>
  </div>
  <div class="main-menu">
    <% if (categories && categories.length) { %>
    <div class="d-none d-lg-block <%= isCategoriesNavFull ? 'col-12 order-lg-last' : 'col' %> header__nav-block">
      
      <%- await include('@/layout/menusecundario') %>
      
      <nav class="header__nav<%= isCategoriesNavFull ? ' header__nav--full' : '' %>">
        <% categories.forEach(({ slug, name, _id}) => { %>
        <% let $categoryLink %>
        <div class="d-inline-block">
          <a href="javascript:;" class="header__category" id="cd-<%= _id %>" <%- hasMegamenu
                    ? `onmouseover="toggleSubmenu('${slug}', this)" onclick="toggleSubmenu('${slug}', this, true)"`
                    : `onclick="toggleSidenav('${slug}')"` %>>
            <%= name %>
          </a>
          <%- $categoryLink %>
          <%  if (slug && hasMegamenu) { %>
          <% const subcategories = _.categories.filter(({ parent }) => parent && parent.slug === slug) %>
          <% if (subcategories.length) { %>
          <%
                      if (isAlphabeticalOrderSubmenu) {
                        subcategories.sort((a, b)=> {
                          return b.name > a.name ? -1 : 1
                        })
                      }
                    %>
          <nav class="header__submenu<%= fullWidthSubmenu ? ' header__submenu--full' : '' %>"
            id="<%= `s-${slug.replace(/\//g, '_')}` %>">
            <% subcategories.forEach(subcategory => { %>
            <div>
              <a id="sd-<%= subcategory._id %>" href="/<%= subcategory.slug %>">
                <%= subcategory.name %></a>
              <% const thirdCategories = _.categories.filter(({ parent }) => parent && parent.slug === subcategory.slug) %>
              <%
                if (isAlphabeticalOrderSubmenu) {
                  thirdCategories.sort((a, b)=> {
                    return b.name > a.name ? -1 : 1
                  })
                }
              %>
              <% if (thirdCategories.length > 0) { %>
              <div class="main-submenu">
                <% thirdCategories.forEach(thirdCategory => { %>
                  <a id="td-<%= thirdCategory._id %>" class="header__submenu-subcategory" href="/<%= thirdCategory.slug %>">
                    <%= thirdCategory.name %>
                  </a>
                  <% }) %>
              </div>
              <%} else { %>
              <% } %>
                          
             
            </div>
            <% }) %>
          </nav>
          <% } %>
          <% } %>
        </div>
        <% }) %>
      </nav>
    </div>
    <% } %>
  </div>
</header>


<header class="header" id="header" style="display: none;">
  <div class="header__container container-fluid">
    <div class="header__row row<%= isCentralizedLogo ? ' header__row--centralized-logo' : '' %><%= isCentralizedLogo && isCategoriesNavFull ? ' header__row--full-width' : '' %>">
      <div class="col-auto p-0 header__toggler-block">
        <button
          class="btn header__toggler<%= hasMegamenu ? ' d-lg-none' : '' %>"
          type="button"
          onclick="toggleSidenav()"
          aria-label="Toggle side navigation"
        >
          <i class="header__toggler-icon i-bars"></i>
          <% if (!categories.length) { %>
            <span class="d-none d-lg-inline">
              Menu
            </span>
          <% } %>
        </button>
      </div>

      <div class="col col-lg-auto pl-1 pl-md-2 pl-lg-3 header__logo-block">
        <a href="/">
          <%- await include('@/layout/inc/logo', { _ }) %>
        </a>
      </div>

      <div class="order-lg-last col-auto p-0 header__buttons-block">
        <div
          class="header__buttons"
          role="group"
          aria-label="<%= _.dictionary('myAccount') %>"
        >
          <button
            class="d-lg-none btn btn-lg"
            id="mobile-search-btn"
            type="button"
            data-toggle="collapse"
            data-target="#search-bar"
            aria-expanded="true"
            aria-controls="search-bar"
            aria-controls="search-bar"
            title="<%= _.dictionary('searchProducts') %>"
          >
            <i class="i-search"></i>
          </button>

          <a
            id="user-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/account/"
            title="<%= _.dictionary('myAccount') %>"
          >
            <i class="i-user"></i>
          </a>
          <a
            id="cart-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/cart"
            title="<%= _.dictionary('openCart') %>"
          >
            <i class="i-shopping-bag"></i>
            <span id="cart-count" class="badge badge-primary"></span>
          </a>
        </div>

        <div id="login-modal">
          <!--
            `LoginModal` should be rendered here:
            https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/LoginModal.html
          -->
        </div>
        <div id="cart-quickview">
          <!--
            `CartQuickview` should be rendered here:
            https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/CartQuickview.html
          -->
        </div>
      </div>

      <% if (header.search_input) {
        const searchColSize = !isCategoriesNavFull && categories.length ? '-3' : ''
        %>
        <div
          class="d-none d-lg-block col-12 col-lg<%= searchColSize %> collapse show"
          id="search-bar"
        >
          <form
            class="header__search mt-2 mt-md-3 mt-lg-0"
            id="search-form"
            action="/search"
            method="get"
          >
            <input
              type="search"
              name="term"
              placeholder="<%= _.dictionary('searchProducts') %>"
              aria-label="<%= _.dictionary('searchProducts') %>"
              class="header__search-input form-control"
              id="search-input"
            >
            <button
              type="submit"
              class="header__search-btn"
              aria-label="<%= _.dictionary('searchProducts') %>"
            >
              <i class="i-search"></i>
            </button>
            <div id="instant-search">
              <!--
                `InstantSearch` should be open on input focus:
                https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/InstantSearch.html
              -->
            </div>
          </form>

          <% if (_.settings.domain) { %>
            <script type="application/ld+json"><%-
              JSON.stringify({
                '@context': 'http://schema.org',
                '@type': 'WebSite',
                url: `https://${_.settings.domain}/`,
                potentialAction: {
                  '@type': 'SearchAction',
                  target: `https://${_.settings.domain}/search?term={search_term_string}`,
                  'query-input': 'required name=search_term_string'
                }
              })
            %></script>
          <% } %>
        </div>
      <% } %>

      <% if (themeCustom === 'ecom-beauty' && isCategoriesNavFull) { %>
        <% if (header.contacts_stripe.pages) { %>
          <div class="header__page-links d-none d-lg-inline-block">
            <% header.contacts_stripe.pages.forEach(({ link, title })=> { %>
              <a href="<%= link %>">
                <%= title %>
              </a>
            <% }) %>
          </div>
        <% } %>
      <% } %>

      <% if (categories && categories.length) { %>
        <div class="d-none d-lg-block <%= isCategoriesNavFull ? 'col-12 order-lg-last' : 'col' %> header__nav-block">
          <nav class="header__nav<%= isCategoriesNavFull ? ' header__nav--full' : '' %>">
            <% if (hasAllDepartments) { %>
              <div class="d-inline-block">
                <a 
                  href="javascript:;"
                  class="header__category"
                  id="cd-all"
                  onmouseover="toggleSubmenu('all', this)"
                  onclick="toggleSubmenu('all', this)"
                >
                  <%= header.name_all_departments || _.dictionary('all') %>
                </a>
                <nav class="header__submenu header__submenu--full" id="s-all">
                  <div class="row">
                    <% _.categories.forEach(({ name, slug, parent, _id }) => { %>
                      <% if (!parent) { 
                        %>
                        <div class="col-12 col-lg-<%- isCategoriesNavFull ? '2' : '4' %>">
                          <a 
                            id="sd-all-<%= _id %>" 
                            href="/<%= slug %>"
                          >
                            <%= name %>
                          </a>
                        <% const subcategories = _.categories.filter(({ parent }) => parent && parent.slug === slug) %>
                        <% if (subcategories.length) { %>
                          <div id="header__submenu-<%= slug %>">
                            <ul class="header__links">
                              <% subcategories.forEach(subcategory => { %>
                                <li>
                                  <a id="td-all-<%= subcategory._id %>" class="header__submenu-subcategory" href="/<%= subcategory.slug %>">
                                    <%= subcategory.name %>
                                  </a>
                                </li>
                                <% }) %>
                              </ul>
                            </div>
                          <% } %>
                          </div>
                        <% } %>
                      <% }) %>
                    </div>
                  </nav>
              </div>
            <% } %>
            <% categories.forEach(({ slug, name, _id}) => { %>
              <% let $categoryLink %>
              <div class="d-inline-block">
                <a
                  href="javascript:;"
                  class="header__category"
                  id="cd-<%= _id %>"
                  <%- hasMegamenu
                    ? `onmouseover="toggleSubmenu('${slug}', this)" onclick="toggleSubmenu('${slug}', this, true)"`
                    : `onclick="toggleSidenav('${slug}')"` %>
                >
                  <%= name %>
                </a>
                <%- $categoryLink %>
                <%  if (slug && hasMegamenu) { %>
                  <% const subcategories = _.categories.filter(({ parent }) => parent && parent.slug === slug) %>
                  <% if (subcategories.length) { %>
                    <%
                      if (isAlphabeticalOrderSubmenu) {
                        subcategories.sort((a, b)=> {
                          return b.name > a.name ? -1 : 1
                        })
                      }
                    %>
                    <nav class="header__submenu<%= fullWidthSubmenu ? ' header__submenu--full' : '' %>" id="<%= `s-${slug.replace(/\//g, '_')}` %>">
                      <% subcategories.forEach(subcategory => { %>
                        <div>               
                          <a id="sd-<%= subcategory._id %>" href="/<%= subcategory.slug %>"><%= subcategory.name %></a>
                          <% const thirdCategories = _.categories.filter(({ parent }) => parent && parent.slug === subcategory.slug) %>
                          <%
                            if (isAlphabeticalOrderSubmenu) {
                              thirdCategories.sort((a, b)=> {
                                return b.name > a.name ? -1 : 1
                              })
                            }
                          %>
                          <% thirdCategories.forEach(thirdCategory => { %>
                            <a id="td-<%= thirdCategory._id %>" class="header__submenu-subcategory" href="/<%= thirdCategory.slug %>">
                              <%= thirdCategory.name %>
                            </a>
                          <% }) %>
                        </div>
                      <% }) %>
                    </nav>
                  <% } %>
                <% } %>
              </div>
            <% }) %>
          </nav>
        </div>
      <% } %>
    </div>
  </div>
</header>
<% if (header.popup) { %>
  <div class="modal fade" id="popup-modal" tabindex="-1" role="dialog" aria-labelledby="modal-popup" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" id="close-modal-popup" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 10px; top: 10px">
          <span aria-hidden="true">&times;</span>
        </button>
        <img src="<%- header.popup %>" style="max-width: 100%">
      </div>
    </div>
  </div>
<% } %> 
